body {
  margin: 0;
  background-color: rgba(255, 232, 138, 0.874);
  font-family: 'DM Serif Display', sans-serif;
}

/* font-family: -apple-system,
BlinkMacSystemFont,
'Segoe UI',
'Roboto',
'Oxygen',
'Ubuntu',
'Cantarell',
'Fira Sans',
'Droid Sans',
'Helvetica Neue',
'DM Serif Display',
sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale; */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.selected-genre{
  background-color:red;
  color: white;
}

.claimedBookClass{
  opacity: 50%;
  pointer-events: none;
}

.claimedBookClassAdmin{
  opacity: 50%;
}

#title{
  font-family: 'DM Serif Display', serif;
}

#title1{
    font-family: 'DM Serif Display', serif;
}